katalog {
  display: flex;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
}
cd {
  display: block;
  border: 1px solid gray;
  border-radius: 0.5em;
  padding: 0.5em;
}

cd > * {
  margin-bottom: 0.25em;
  display: block;
}

titul {
  text-align: center;
  font-weight: bold;
  font-size: 250%;
}

umelec::before {
  content: "umělec: ";
  font-weight: bold;
}
stat::before {
  content: "stát: ";
  font-weight: bold;
}
spolecnost::before {
  content: "nahrávací společnost: ";
  font-weight: bold;
}
cena::before {
  content: "cena v " attr(mena) ": ";
  font-weight: bold;
}
vydano::before {
  content: "rok vydání: ";
  font-weight: bold;
}
cover-text::before {
  content: "text přebalu: ";
  font-weight: bold;
}
booklet::before {
  content: "booklet: ";
  font-weight: bold;
}
